.main_container {
    position: relative;
}

.banner--img {
    width: 100%;
    mask-image: linear-gradient(to top, transparent 0%, black 20%, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 20%, black 80%, transparent 100%);
    opacity: 0.6;
}

.main__row {
    position: absolute;
    bottom: 0;
    margin-bottom: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__title {
    margin-top: 80px;
}

input {
    font-size: 36px;
}

.main__search {
    width: 60%;
}

.main__search--input {
    padding-left: 12px;
}

.main__search--input::placeholder{
    color: rgba(0, 0, 0, 0.733);
}

.search__bar {
    border: 2px solid black;
    color: black;
    padding: 12px;
    border-radius: 50px;
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.search__bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
}

.search__img{
    padding: 8px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search__img:hover {
    background-color: rgba(255, 0, 0, 0.436);
    border-radius: 50%;
}

.search__img:active {
    background-color: white;
    border-radius: 50%;
}

.options__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;
}

/* .hidden {
    display: none;
} */

.options__row {
    padding: 12px 48px;
}

.options__title,
.search__name {
    font-size: 36px;
    letter-spacing: 4px;
    color: white;
}

select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
  cursor: pointer;
}

.movie__container {
    width: 100%;
}

.movies__row {
    margin-top: 48px;
}

.all__movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: calc(100% / 4 - 80px);
    margin: 12px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}

.movie__poster {
    border-radius: 24px;
    width: 100%;
}

.movie__title {
    padding-top: 12px;
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.movie__year {
    padding-top: 12px;
    font-size: 18px;
    color: white;
}

#movieSort {
    transition: all 1000ms ease;
}

