.nav__container {
    width: 100%;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

.nav__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__img {
    height: 100px;
    width: 100px;
    opacity: 0.7;
}

.title {
    padding: 12px;
    color: white;
}

.nav__links {
    display: flex;
    align-items: center;
    gap: 28px;
}

.nav__link {
    position: relative;
}

.nav__link::after,
.footer__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;        /* this controls the space under the text */
  width: 100%;
  height: 2px;         /* thickness of the underline */
  background-color: rgb(207, 36, 21);
  opacity: 0;
}

.nav__link:hover::after,
.footer__link:hover::after {
  opacity: 1;
  transition: opacity 800ms ease;
}

.nav__link,
.nav__btn {
    font-size: 16px;
    font-weight: 700;
    color: white;
    letter-spacing: 1.5px;
}

.nav__btn {
    border: 2px solid white;
    border-radius: 50px;
    background-color: transparent;
    padding: 12px;
    cursor: pointer;
}

.nav__btn:hover {
    border: 2px solid rgb(207, 36, 21);
    color: rgb(207, 36, 21);
}

.nav__btn:active {
    border: 2px solid white;
    background-color: black;
    color: white;
}